<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plantsy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <!-- allows for a unique Merienda google font -->
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/main.js"></script>
  </head>

    <body>

    <div class="jumbotron">
        <div class="container-fluid">
          <img src="assets/plantsy.jpg" alt="logo" />
            <h1>Plantsy</h1>
        </div>
    </div>

      <div>

      {{{ body }}}

      </div>
      <hr>
      <footer class=" center footer">
        <div class="container">
          <p> Copyright © Plantsy 2018</p>
        </div>
      </footer>
  </body>
</html>