<h1>Hello Admin</h1>
{{#each plant}}
    <h1>{{name}}</h1>
    <p>{{description}}</p>
    <p>{{instructions}}</p>
    <p>{{QR}}</p>
{{/each}}

{{!-- If you want, you can put a form here. Name, Description, Instructions. give them each an id --}}
{{!-- id="Name", id="Discription", id="Instructions"--}}