<div class="container bg">
    
    <div class="row">
        <div class="header">
            <img src=".png" alt="Plantsy">
            <h1>Plantsy</h1>
            <p></p>
        </div>
   </div>
<div class="jumbotron">
        <div class="container-fluid">
            <h1>Plantsy</h1>
        </div>
    </div>
  <div class="row"></div>  
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>