h1 {
    text-align: center;
	font-family: 'Merienda', cursive;
	color: white;
}

h2 {
	
}

.btn-primary {
	border-radius: 15px;
}

html, body{
	height: 100%;
}

body { 
    background-color: lightblue;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #000000;  
	color:white;
}

body{
	margin: 0;
	padding: 0;
	font-family: exo, sans-serif;
	color: white;
}


.jumbotron img {
	float: left;
	width: 100px;
	height: 100px;
	background: #555;
	position: relative;
  }
  


.footer {
	text-align: center;
}